@use "base";

button {
  font-family: 'Roboto Medium', system-ui, sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  &:disabled {
    pointer-events: none;
  }
}

.btn-rounded-40 {
  padding: 7px 62px;
  color: var(--black-color);
  background: white;
  border-radius: 70px;
  border: 2px solid var(--white-clor);
  font-size: base.$text-size-16;
  font-family: 'Roboto', system-ui, sans-serif;

  &:hover {
    background: var(--grey-2-color);
  }

  &:disabled {
    border: 2px solid var(--disabled-color);
    background: var(--grey-3-color);
  }
}

.btn-outline-40 {
  padding: 8.5px 14px;
  color: var(--black-color);
  border-radius: 5px;
  border: 1px solid var(--black-color);
  font-size: base.$text-size-14;
  background: transparent ;

  &:hover {
    border: 1px solid var(--black-color);
    background: var(--black-color);
    color: var(--white-color);
  }

  &:disabled {
    border: 1px solid var(--disabled-color);
    color: var(--disabled-color);
  }
}

.btn-outline-30 {
  padding: 5px 14px;
  color: var(--black-color);
  background: white;
  border-radius: 5px;
  border: 2px solid var(--black-color);
  font-size: base.$text-size-14;

  &:hover {
    background: var(--black-color);
    color: var(--white-color);
  }

  &:disabled {
    color: var(--grey-2-color);
    border: 2px solid var(--grey-2-color);
  }
}

.btn-outline-rounded-30 {
  padding: 5px 14px;
  color: var(--primary-color);
  border-radius: 25px;
  border: 2px solid var(--primary-color);
  font-size: base.$text-size-14;
  background: transparent;

  &:hover {
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white-color)
  }

  &:disabled {
    border: 2px solid var(--grey-color);
    color: var(--grey-color);
    background: transparent;
  }
}

.btn-small-square-30 {
  padding: 5px 14px;
  color: var(--white-color);
  background: var(--grey-4-color);
  border-radius: 4px;
  font-size: base.$text-size-14;

  &:hover {
    color: var(--grey-4-color);
    background: var(--white-color);
  }

  &:disabled {
    color: var(--grey-4-color);
  }
}

.btn-text {
  padding: 7px 11px;
  background: transparent;
  border-radius: 4px;
  font-size: base.$text-size-14;

  &:hover {
    color: var(--white-color);
    background: var(--black-color);
  }
}

.btn-icon-text {
  color: var(--primary-color);
  font-size: base.$text-size-14;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;

  img {
    filter: var(--svg-filter-primary-color);
  }

  &:hover {
    color: var(--primary-hover-color);

    img {
      filter: var(--svg-filter-primary-hover-color);
    }
  }
}

.btn-icon {
  color: var(--white-color);
  font-size: base.$text-size-14;
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 7px 20px;
  background: var(--dark-grey-color);

  img {
    filter: var(--svg-filter-white-color);
    height: 18px;
    width: 18px;
    margin-right: 6px;
  }

  &:hover {
    background: var(--grey-5-color);
  }
}

.outline-circle-icon {
  color: var(--white-color);
  background: var(--black-color);
  font-size: base.$text-size-14;

  &:hover {
    background: var(--white-color);
    color: var(--black-color);
  }
}

