@font-face {
  font-family: "Roboto Light";
  src: url("./../fonts/Roboto-Light.woff") format("woff"),
  url("./../fonts/Roboto-Light.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.woff") format("woff"),
  url("./../fonts/Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./../fonts/Roboto-Medium.woff") format("woff"),
  url("./../fonts/Roboto-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./../fonts/Roboto-Bold.woff") format("woff"),
  url("./../fonts/Roboto-Bold.ttf") format("truetype")
}

.text-white {
  color: var(--white-color);
}

.text-grey {
  color: var(--grey-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-regular-38 {
  font-size: $text-size-38;
  font-family: 'Roboto', system-ui, sans-serif;
}

.text-regular-32 {
  font-size: $text-size-32;
  font-family: 'Roboto', system-ui, sans-serif;
}

.text-regular-30 {
  font-size: $text-size-30;
  font-family: 'Roboto', system-ui, sans-serif;
}

.text-regular-28 {
  font-size: $text-size-28;
  font-family: 'Roboto', system-ui, sans-serif;
}


.text-regular-24 {
  font-size: $text-size-24;
  font-family: 'Roboto', system-ui, sans-serif;
}

.text-bold-20 {
  font-size: $text-size-20;
  font-family: 'Roboto Bold', system-ui, sans-serif;
}

.text-medium-18 {
  font-size: $text-size-18;
  font-family: 'Roboto Medium', system-ui, sans-serif;
}

.text-regular-18 {
  font-size: $text-size-18;
  font-family: 'Roboto', system-ui, sans-serif;
}

.text-medium-16 {
  font-size: $text-size-16;
  font-family: 'Roboto Medium', system-ui, sans-serif;
}

.text-regular-16 {
  font-size: $text-size-16;
  font-family: 'Roboto', system-ui, sans-serif;
}

.text-bold-16 {
  font-size: $text-size-16;
  font-family: 'Roboto Bold', system-ui, sans-serif;
}

.text-bold-14 {
  font-size: $text-size-14;
  font-family: 'Roboto Bold', system-ui, sans-serif;
}

.text-regular-14 {
  font-size: $text-size-14;
  font-family: 'Roboto', system-ui, sans-serif;
}

.text-medium-14 {
  font-size: $text-size-14;
  font-family: 'Roboto Medium', system-ui, sans-serif;
}

.text-medium-13 {
  font-size: $text-size-13;
  font-family: 'Roboto Medium', system-ui, sans-serif;
}

.text-regular-12 {
  font-size: $text-size-12;
  font-family: 'Roboto', system-ui, sans-serif;
}
